PORT=5000

DB_HOST=localhost
DB_PORT=3306
DB_NAME=grocery_store
DB_USER=root
DB_PASSWORD=your_mysql_password

JWT_SECRET=YourAccessTokenSecretKey
JWT_REFRESH_SECRET=YourRefreshTokenSecretKey

CLOUDINARY_CLOUD_NAME=YourCloudinaryCloudName
CLOUDINARY_API_KEY=YourCloudinaryApiKey
CLOUDINARY_API_SECRET=YourCloudinaryApiSecret

node -e "console.log(require('bcrypt').hashSync('yourpassword', 10))" 

CLIENT_URL=your_client_url